@media (max-width: 1220px) {

  .user-nav {
    padding-right: 12px;
  }

  .logo,
  .user-nav {
    z-index: 10;
  }

  .info-categories {

    &__inner::after {
      right: 0;
    }
  }

  .blog {

    &__items::after {
      right: 0;
    }
  }

  .page-404 {

    &__img {
      max-width: 50%;
    }
  }

  .blog-page__inner.blog-page__inner--details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .blog-page__aside {
      order: -1;
    }
  }

  .blog-page__content~.blog-page__aside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .blog-page {

    &__inner {

      display: block;
      position: relative;

      .blog-item__slider {
        max-width: 100%;
      }
    }

    &__content {
      padding-top: 168px;
    }

    &__aside {

      .blog-page__person,
      .latest-post,
      .category-filter.filter,
      .tags-filter.filter {
        display: none;
      }

      .search {
        max-width: 100%;
      }
    }
  }

  .filter {
    padding: 20px 15px;
    max-width: 290px;

    &__title {
      margin-bottom: 20px;
    }
  }

  .blog-one__img {
    width: 100%;
  }
}

@media (max-width: 1168px) {

  .top-slider {

    &__content {
      padding: 60px 0 0 0;
      min-width: 50%;
    }

    &__title {
      font-size: 46px;
      line-height: 58px;
    }
  }

  .info-categories {

    &__inner {
      gap: 15px;
    }

    &__item {
      padding: 30px 20px;

      svg {
        margin-bottom: 20px;
      }
    }
  }

  .fashion-video {

    &__inner {
      display: block;
    }

    &__popup {
      max-width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &__content {
      max-width: 100%;
    }
  }

  .promo {
    background-position: -320px top;
  }

  .blog {

    .blog-item {

      &__box {
        padding: 15px 20px;
      }
    }
  }

  .blog-item__info {
    flex-wrap: wrap;
    gap: 8px;
    column-gap: 15px;
  }
}

@media (max-width: 940px) {

  .info-categories {
    padding: 60px 0;

    &__inner {
      flex-wrap: wrap;
      margin-bottom: 60px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 15px;
    }

    &__grid-item {
      background-position: center top;
      padding: 20px;
      min-height: 300px;
    }

    &__grid-item:nth-child(1) {
      grid-row: span 2;
    }

    &__grid-item:nth-child(3) {
      grid-row: 1 / 2;
      grid-column: 2 / -1;
    }

    &__grid-item:nth-child(4) {
      grid-row: 2 / 3;
      grid-column: 2 / -1;
    }
  }

  .products {

    &__items {
      gap: 30px 15px;
    }
  }

  .promo {

    &__inner {
      padding: 80px 0;
    }

    &__title {
      margin-bottom: 40px;
    }
  }

  .blog-page {
    padding: 60px 0;

    .blog-item__box {
      padding: 25px 20px 20px;
    }

    .blog-item.blog-item--no-image {

      .blog-item__box {
        padding: 25px 20px 20px;
      }
    }
  }

  .blog-item__slider {
    max-width: 900px;
  }

  .map {
    margin: 60px 0;
  }

  .contact {
    padding-bottom: 60px;

    &__inner {
      flex-direction: column;
      row-gap: 30px;
    }

    &__content {
      max-width: 100%;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      column-gap: 30px;
      flex-wrap: wrap;

      .contact__item:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__form.contact-form {
      max-width: 100%;
    }
  }

  .shop {

    &__inner {
      grid-template-columns: 1fr;
    }

    &__filters-btn {
      display: block;
    }

    &__items--grid {

      .product-item {
        max-width: 100%;
      }
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .filter {
    min-width: 290px;
  }
}

@media (max-width: 836px) {
  .user-nav {
    margin-left: auto;
    margin-right: 30px;
  }

  .menu {
    display: flex;
    order: 1;

    &__list {
      transition: all .5s;
      transform: translateY(-200%);
      position: absolute;
      left: 0;
      top: 110px;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;
      background-color: #fff;
      z-index: 4;
      padding: 6px;

      &.menu__list--active {
        transform: translateY(0);
      }
    }

    .menu__item {
      margin-right: 0;
    }

    &__btn {
      display: block;
      z-index: 5;

      &.menu__btn--active::before {
        top: 1px;
        transform: rotate(45deg);
        transform-origin: left;
      }

      &.menu__btn--active::after {
        bottom: 1px;
        transform: rotate(-45deg);
        transform-origin: left;
      }

      &.menu__btn--active div {
        background-color: transparent;
      }
    }
  }

  .top-slider {

    &__title {
      font-size: 46px;
      line-height: 58px;
    }
  }

  .fashion-video {
    padding: 60px 0;
  }

  .products {

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .blog {
    padding: 30px 0 60px;

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .page-404 {
    padding: 60px 0;
  }

  .shop {
    padding: 60px 0;
  }
}

@media (max-width: 648px) {

  .footer-top__column:first-child {
    width: 100%;
    max-width: 100%;
  }

  .footer-bottom {
    justify-content: center;
    gap: 10px;

    &__copy {
      text-align: center;
      width: 100%;
    }

    &__payments {
      gap: 15px;
    }
  }

  .form {
    display: flex;
  }

  .top-slider {
    padding-top: 0;

    &__content {
      padding: 0;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 25px;
    }
  }

  .promo {

    &__inner {
      margin: 0;
    }

    &__timer {
      flex-wrap: wrap;
      gap: 40px 106px;
      justify-content: center;
      margin-bottom: 60px;
    }

    &__timer-box {
      margin-bottom: 0;
    }
  }

  .blog {

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .blog-item {
    max-width: 100%;

    &__info {
      flex-direction: row;
      justify-content: start;
    }
  }

  .top__container {
    padding: 70px 0;
  }

  .modal {
    padding: 60px 0;

    &__links {
      margin-bottom: 25px;
    }

    .modal__label {
      margin-bottom: 20px;
    }
  }

  .page-404 {

    &__title {
      font-size: 36px;
      line-height: 42px;
    }
  }

  .blog-page__item:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .blog-one__img--left {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
    max-width: 100%;
  }

  .comments-form__input-box {
    flex-direction: column;
  }

  .contact {

    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    &__form.contact-form {
      padding: 20px 10px;
    }
  }

  .contact-form {

    &__input-box {
      flex-direction: column;
      gap: 15px;
      margin-bottom: 15px;
    }

    &__textarea {
      margin-bottom: 28px;
    }

    &__btn {
      width: 100%;
    }
  }

  .shop__items--grid {

    grid-template-columns: repeat(1, 1fr);
  }

  .filter-content__buttons {
    display: none;
  }
}

@media (max-width: 552px) {

  .top-slider__content {
    padding-bottom: 60px;
  }

  .top-slider .slick-dots {
    bottom: 4px;
  }

  .top-slider__wrapper {

    .top-slider__img {
      display: none;
    }
  }

  .info-categories {

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &__grid-item:nth-child(1) {
      grid-row: 1;
      grid-column: 1;
    }

    &__grid-item:nth-child(2) {
      grid-row: 1;
      grid-column: 2;
      justify-content: start;
      padding-top: 20px;
    }

    &__grid-item:nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    &__grid-item:nth-child(4) {
      grid-row: 2;
      grid-column: 2;
    }
  }

  .fashion-video {

    &__popup {
      min-height: 350px;
    }

    &__content {
      padding-top: 40px;
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }

  .products {
    padding: 60px 0;

    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 40px;
    }
  }

  .product-item {
    max-width: 100%;

    &__img-wrapper {
      height: 330px;
    }
  }

  .promo {

    &__title {
      font-size: 36px;
      line-height: 42px;
    }
  }

  .partners {
    padding: 60px 0 30px;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 16px;
    }

    &__item {
      width: 33%;
    }

    &__img {
      margin: 0 auto;
    }
  }

  .blog {

    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .page-404 {

    &__inner {
      flex-direction: column;
      gap: 40px;
    }

    &__content {
      margin-right: 0;
      max-width: 100%;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__button {
      display: block;
      max-width: fit-content;
      margin: 0 auto;
    }
  }

  .slick-prev {
    left: 20px;
  }

  .slick-next {
    right: 20px;
  }

  .blog-one {

    &__content-box {
      padding: 20px 15px;
    }

    &__info {
      flex-wrap: wrap;
      row-gap: 10px;
    }

    .blog-one__blockquote {
      padding: 20px;
    }
  }

  .map {

    iframe {
      height: 260px;
    }
  }
}

@media (max-width: 472px) {

  .header {
    padding: 20px 0;

    &__wrapper {
      flex-wrap: wrap;
      row-gap: 30px;
    }
  }

  .menu {
    order: 0;

    &__list.menu__list--active {
      top: 126px;
    }
  }

  .user-nav {
    width: 100%;
  }

  .form {
    flex-wrap: wrap;

    &__input {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 5px;
    }

    &__button {
      width: 100%;
    }
  }

  .info-categories {

    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    &__item {
      padding: 20px 10px
    }

    &__item-title {
      font-size: 20px;
    }

    &__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }

    &__grid-item {
      min-height: 180px;
    }

    &__grid-item:nth-child(1) {
      grid-row: 1;
      grid-column: 1;
    }

    &__grid-item:nth-child(2) {
      grid-row: 2;
      grid-column: 1;
    }

    &__grid-item:nth-child(3) {
      grid-row: 3;
      grid-column: 1;
    }

    &__grid-item:nth-child(4) {
      grid-row: 4;
      grid-column: 1;
    }
  }

  .promo {

    &__timer {
      gap: 33px;
    }
  }

  .blog-item {
    max-width: 100%;

    &__info {
      justify-content: start;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .blog-one {

    &__meta {
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 20px;
    }

    &__author {
      flex-direction: column;
    }

    &__avatar {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .comments {

    &__userpic {
      margin-right: 10px;
    }

    &__top {
      flex-wrap: wrap;
    }
  }

  .contact {

    .contact__item {
      padding-left: 65px;
    }
  }

  .filter-content {
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
  }

  .filter-content__form {
    gap: 20px;
  }

  .shop__items {
    margin-bottom: 20px;
  }
  .pagination {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}