@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';


@import 'media';

.header {
  padding: 40px 0;

  &--page-404 {
    background-color: $bg-color;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 34px;
  }

  &__link {
    @extend %roboto-400;
    text-transform: uppercase;
    color: $accent-text;
    padding: 0 2px 4px;
    transition: all .3s;

    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }

  &__link--active {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
}

.user-nav {
  display: flex;
  gap: 20px;

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
}

.footer {
  background-color: $bg-color;

  &__logo {
    display: block;
    margin-bottom: 32px;
  }
}

.footer-top {
  padding: 76px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  gap: 30px;

  &__column {
    flex-grow: 1;
  }

  &__column:first-child {
    max-width: 270px;
  }

  &__column:nth-child(2),
  &__column:nth-child(3) {
    max-width: 170px;
  }

  &__column:last-child {
    max-width: 470px;
  }

  &__address {
    font-style: normal;
    max-width: 264px;
    margin-bottom: 10px;
  }

  &__column-title {
    color: $accent-text;
    font-size: 22px;
    margin-bottom: 35px;
  }

  &__column-text {
    margin-bottom: 30px;
  }

  &__column-item {
    margin-bottom: 10px;
  }

  &__email,
  &__phone {
    display: block;
    margin-bottom: 10px;
  }

  &__socials {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }

  &__socials-link {
    path {
      fill: $main-text;
      transition: all .3s;
    }

    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }
}

.form {

  &__input {
    border: none;
    padding: 8px 18px;
    line-height: 36px;
    max-width: 320px;
    width: 100%;
    margin-right: 10px;
    box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
  }

  &__button {
    @extend %btn;
    border: none;
    padding: 8px 26px;
    line-height: 36px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 28px 0;

  &__payments {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

.top-slider {
  padding: 70px 0 0;
  background-color: $bg-color;
  position: relative;
  background-image: url(../images/slider-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 60% center;

  &__container {
    max-width: 1560px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding: 130px 0 0 180px;
  }

  &__title {
    max-width: 570px;
    font-size: 58px;
    line-height: 68px;
    color: $accent-text;
    @extend %roboto-700;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }

  &__button {
    @extend %btn;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    li {
      font-size: 0;
      line-height: 0;

      button {
        padding: 0;
        background-color: transparent;
        width: 28px;
        height: 28px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: $main-text;
        }
      }

      &.slick-active {

        button {
          border-color: $accent-color;

          &::after {
            background-color: $accent-color;
          }
        }
      }
    }
  }
}

.info-categories {
  padding: 120px 0;
  background-image: url('../images/info-categories/decor-left.svg'), url('../images/info-categories/decor-right.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: -45px center, 104% center;


  &__inner {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    margin-bottom: 120px;

    &::before {
      content: '';
      position: absolute;
      left: -44px;
      top: -40px;
      width: 120px;
      height: 121px;
      background-image: url('../images/info-categories/decor-before.svg');
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      right: -24px;
      bottom: -24px;
      width: 65px;
      height: 52px;
      background-image: url('../images/info-categories/decor-after.svg');
      z-index: -1;
    }
  }

  &__item {
    padding: 60px 40px;
    max-width: 370px;
    background-color: #fff;
    box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);

    svg {
      margin-bottom: 35px;
    }
  }

  &__item-title {
    font-size: 22px;
    @extend %roboto-400;
    color: $accent-text;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__grid {
    min-height: 636px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  &__grid-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 40px;
  }

  &__grid-item:nth-child(1) {
    grid-row: span 2;
  }

  &__grid-item:nth-child(2) {
    grid-column: span 2;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__grid-subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__grid-subtitle--shoes {
    color: #5800e4;
  }

  &__grid-subtitle--clothes {
    color: $accent-color;
  }

  &__grid-subtitle--men {
    color: #ffb534;
  }

  &__grid-subtitle--girl {
    color: #34c3ff;
  }

  &__grid-title {
    font-size: 22px;
    @extend %roboto-500;
    color: $accent-text;
    margin-bottom: 8px;
  }

  &__grid-link {
    text-transform: uppercase;
    color: $accent-text;
    position: relative;
    transition: all .3s;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: transparent;
      transition: all .3s;
    }

    &--shoes:hover {
      color: #5800e4;
    }

    &--shoes:hover::after {
      background-color: #5800e4;
    }

    &--clothes:hover {
      color: $accent-color;
    }

    &--clothes:hover::after {
      background-color: $accent-color;
    }

    &--men:hover {
      color: #ffb534;
    }

    &--men:hover::after {
      background-color: #ffb534;
    }

    &--girl:hover {
      color: #34c3ff;
    }

    &--girl:hover::after {
      background-color: #34c3ff;
    }
  }
}

.fashion-video {
  padding: 120px 0;
  background-color: #f6f6f6;
  background-image: url('../images/fashion-video/fashion-video-bg.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__inner {
    display: flex;
  }

  &__popup {
    max-width: 535px;
    width: 100%;
    min-height: 480px;
    margin-right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    padding-top: 80px;
  }

  &__subtitle {
    font-size: 22px;
    color: $accent-color;
    margin-bottom: 20px;
  }

  &__title {
    text-align: left;
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__button {
    @extend %btn
  }
}

.products {
  padding: 120px 0;
  text-align: center;

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
    margin-bottom: 60px;
  }

  &__button {
    @extend %btn-transparent;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;

  &:hover {

    .product-item__panel {
      bottom: 50px;
    }
  }

  &__text,
  &__btn {
    display: none;
  }

  &--sale {
    position: relative;

    &::after {
      content: 'SALE';
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      @extend %roboto-400;
      background-color: $accent-color;
      padding: 2px 10px;
      top: 25px;
      left: 25px;
      box-shadow: 0 7px 20px rgba(254, 62, 87, 0.25);
    }
  }

  &__img-wrapper {
    height: 370px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__panel {
    padding: 10px;
    display: flex;
    gap: 12px;
    line-height: 0;
    min-width: 212px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(152, 152, 152, 0.2);
    position: absolute;
    bottom: -200%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      bottom: 10px;
      width: 1px;
      background-color: #ececec;
    }

    &::before {
      left: 70px;
    }

    &::after {
      right: 70px;
    }
  }

  &__panel-link {
    padding: 5px 16px;
    flex-basis: 0;
    flex-grow: 1;

    path {
      transition: all .3s;
    }
  }

  &__panel-link:hover {

    path {
      fill: $accent-color;
    }
  }

  &__rating {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 22px;
    color: $accent-text;
    @extend %roboto-400;
    margin-bottom: 10px;
  }

  &__price {
    display: flex;
    justify-content: center;
    gap: 20px
  }

  &__new-price {
    @extend %roboto-500;
    color: $accent-text;
  }

  &__old-price {
    @extend %roboto-400;
    text-decoration: line-through;
  }
}

.promo {
  background-color: $bg-color;
  background-image: url('../images/promo-bg.png');
  background-repeat: no-repeat;
  background-position: left top;

  &__inner {
    padding: 160px 0;
    max-width: 570px;
    margin-left: auto;
    text-align: center;
  }

  &__subtitle {
    font-size: 22px;
    color: $accent-color;
    @extend %roboto-500;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__timer {
    display: flex;
    justify-content: space-between;
  }

  &__timer-box {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(187, 187, 187, 0.3);
    line-height: 1;
    margin-bottom: 60px;
  }

  &__days,
  &__hours,
  &__minutes,
  &__seconds {
    @extend %roboto-700;
    color: $accent-text;
    font-size: 48px;
    text-align: center;
    margin-bottom: 6px;
  }

  &__button {
    @extend %btn-transparent;
  }
}

.partners {
  padding: 120px 0 60px;

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.blog {
  padding: 60px 0 160px;
  background-image: url('../images/blog/blog-decor-bg.svg');
  background-repeat: no-repeat;
  background-position: center 80%;

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 126px;
      height: 53px;
      top: -30px;
      right: -27px;
      background-image: url('../images/blog/blog-decor-after.svg');
      z-index: -1;
    }
  }
}

.blog-item {
  max-width: 370px;
  outline: 1px solid #ececec;
  background-color: #ffffff;

  &:hover {
    outline: none;
    box-shadow: 20px 0 60px rgba(202, 202, 202, 0.35);
  }

  &__img {
    object-fit: cover;
    height: 288px;
    width: 100%;
  }

  &__box {
    padding: 30px 40px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__user,
  &__date {
    padding-left: 30px;
    position: relative;
  }

  &__user::before,
  &__date::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
  }

  &__user::before {
    background-image: url('../images/blog/user-gray.svg');
  }

  &__date::before {
    background-image: url('../images/blog/clock.svg');
  }

  &__img-link,
  &__title-link {
    display: block;
  }

  &__title-link {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 22px;
    @extend %roboto-400;
    color: $accent-text;
  }

  &__link {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 8px;
      top: 7px;
      right: -15px;
      background-image: url('../images/blog/arrow-gray.svg');
    }

    &:hover {
      color: $accent-color;

      &::after {
        background-image: url('../images/blog/arrow-accent.svg');
      }
    }
  }
}

.top {

  &__container {
    padding: 136px 0 140px;
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    margin-bottom: 30px;
  }
}

.modal {
  padding: 120px 0;

  &__inner {
    max-width: 570px;
    margin: 0 auto;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 50px;
  }

  &__link {
    font-size: 22px;
    @extend %roboto-400;
    color: #909090;
    text-transform: uppercase;
    transition: all .3s;

    &--active {
      @extend %roboto-700;
      color: $accent-color;
    }

    &:hover {
      color: $accent-color;
    }
  }

  &__label {
    display: block;

    &:first-child {
      margin-bottom: 35px;
    }

    &:nth-child(2) {
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    padding: 12px 18px;
    line-height: 36px;
    background-color: $bg-color;
    margin-top: 8px;
  }

  &__input-checkbox {
    accent-color: $accent-color;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 12px 18px;
    border: none;
    background-color: $accent-text;
    text-transform: uppercase;
    color: #fff;
    @extend %roboto-400;
    letter-spacing: 3.2px;
    line-height: 36px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__lost-password-link {
    transition: all .3s;

    &:hover {
      color: $accent-color;
    }
  }

  &__text {
    margin-bottom: 25px;
  }
}

.page-404 {
  padding: 120px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    margin-right: 30px
  }

  &__title {
    @extend %roboto-700;
    font-size: 48px;
    color: #28384f;
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }

  &__button {
    @extend %btn;
  }
}

.shop {
  padding: 120px 0;

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: start;
  }
}

.filters {
  display: grid;
  row-gap: 40px;
}

.filter {
  padding: 40px 30px;
  border: 1px solid $border-color;
  max-width: 370px;

  &__title {
    font-size: 22px;
    @extend %roboto-400;
    color: $accent-text;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
}

.search {

  &__form {
    display: flex;
  }

  &__input {
    width: 100%;
    background-color: $bg-color;
    padding: 12px 18px;
    border: none;
  }

  &__button {
    padding: 12px 18px;
    border: none;
    position: relative;
    min-width: 50px;
    background-color: $accent-color;
    cursor: pointer;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}

.irs--flat .irs-handle {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 13px rgba(90, 90, 90, 0.2);
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-line {
  top: 12px;
  height: 5px;
  background-color: $border-color;
  border-radius: 0;
  cursor: pointer;
}

.irs--flat .irs-bar {
  top: 12px;
  height: 5px;
  background-color: $accent-color;
  cursor: pointer;
}

.price-filter {

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__button {
    border: none;
    @extend %btn;
    line-height: 1;
    padding: 12px 22px;
    letter-spacing: 3.2px;
    cursor: pointer;
  }
}

.color-filter {

  &__label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:not(:first-of-type) {
      padding-top: 20px;
    }

    &:not(:last-of-type) {
      padding-bottom: 20px;
      border-bottom: 1px solid $border-color;
    }
  }

  &__input {
    @extend %hidden-input;

    &:checked+.color-filter__fake-checkbox--blue {
      background-color: #00aeef;
    }

    &:checked+.color-filter__fake-checkbox--red {
      background-color: #f52574;
    }

    &:checked+.color-filter__fake-checkbox--green {
      background-color: #24d4ac;
    }

    &:checked+.color-filter__fake-checkbox--orange {
      background-color: #ff7e00;
    }

    &:checked+.color-filter__fake-checkbox--black {
      background-color: #000000;
    }

    &:checked+.color-filter__fake-checkbox--purple {
      background-color: #923899;
    }
  }

  &__fake-checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: -16px;
    margin-top: 5px;
  }

  &__fake-checkbox--blue {
    border: 2px solid #00aeef;
  }

  &__fake-checkbox--red {
    border: 2px solid #f52574;
  }

  &__fake-checkbox--green {
    border: 2px solid #24d4ac;
  }

  &__fake-checkbox--orange {
    border: 2px solid #ff7e00;
  }

  &__fake-checkbox--black {
    border: 2px solid #000000;
  }

  &__fake-checkbox--purple {
    border: 2px solid #923899;
  }
}

.size-filter {

  &__form {
    display: grid;
    justify-content: start;
    row-gap: 20px;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %hidden-input;

    &:checked+.size-filter__fake-checkbox {
      background-image: url('../images/icons/checkbox-checked.svg');
      background-repeat: no-repeat;
      background-position: center;

      &+.size-filter__text {
        color: $accent-color;
      }
    }
  }

  &__fake-checkbox {
    width: 20px;
    height: 21px;
    position: absolute;
    margin-top: 3px;
    background-image: url('../images/icons/checkbox.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    padding-left: 35px;
  }
}

.category-filter {

  &__form {
    display: grid;
    row-gap: 15px;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %hidden-input;

    &:checked~.category-filter__fake-checkbox {
      background-color: $accent-color;
      color: #fff;
    }
  }

  &__fake-checkbox {
    padding: 12px 20px;
    background-color: $bg-color;
    color: $accent-text;
    display: flex;
    justify-content: space-between;
  }
}

.tags-filter {

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %hidden-input;

    &:checked+.tags-filter__fake-checkbox {
      outline: none;
      color: #fff;
      background-color: $accent-color;
    }
  }

  &__fake-checkbox {
    line-height: 1;
    padding: 12px 20px;
    outline: 1px solid $main-text;
  }
}

.filter-content {
  padding: 22px 30px;
  border: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &__buttons {
    display: flex;
    gap: 15px;
  }

  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;

    &--active {
      path {
        fill: $accent-color;
      }
    }
  }

  &__form {
    display: flex;
    gap: 40px;
  }
}

.jq-selectbox {

  &__select {
    padding-right: 20px;
    cursor: pointer;
  }

  &__trigger-arrow {
    position: absolute;
    top: 12px;
    right: 0;
    width: 10px;
    height: 5px;
    background-image: url('../images/icons/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.shop__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
  margin-bottom: 40px;

  &--grid {
    padding-bottom: 40px;
    border-bottom: 1px solid $border-color;
  }
}

.product-item {

  &__btn {
    @extend %btn-black;
  }

  &.product-item--list {
    grid-column: 1 / -1;
    max-width: 100%;
    display: flex;

    &:hover {

      .product-item__panel {
        bottom: 50%;
        transform: translate(-50%, 50%);
      }
    }

    .product-item__img-wrapper {
      max-width: 200px;
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }

    .product-item__panel {
      background-color: transparent;
      box-shadow: none;
      min-width: auto;
      gap: 15px;

      &::before,
      &::after {
        display: none;
      }

      .product-item__panel-link {
        width: 50px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .product-item__panel-link:nth-child(2) {
        display: none;
      }
    }

    .product-item__content {
      padding: 30px 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      border: 1px solid $border-color;
      border-left: none;
      text-align: left;
    }

    .product-item__title {
      order: -3;
      width: 100%;
      @extend %roboto-500;
    }

    .product-item__price {
      order: -2;
      margin-right: 40px;
      margin-bottom: 10px;
    }

    .product-item__rating {
      order: -1;
      margin: 0;
    }

    .product-item__text {
      display: block;
      margin-bottom: 15px;
    }

    .product-item__btn {
      display: block;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 46px;

  &__list {
    display: flex;
    gap: 22px;
  }

  &__link {
    text-transform: uppercase;

    &--active,
    &:hover {
      color: $accent-color;
    }

    &--active.pagination__prev::before,
    &--active.pagination__next::before {
      display: none;
    }
  }

  &__prev,
  &__next {
    position: relative;

    &.pagination__link--active {
      color: inherit;
    }

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 11px;
      top: 8px;
    }
  }

  &__prev {
    padding-left: 15px;

    &::before {
      left: 0;
      background-image: url('../images/icons/prev-arrow.svg');
    }
  }

  &__next {
    padding-right: 15px;

    &::before {
      width: 5px;
      right: 0;
      background-image: url('../images/icons/next-arrow.svg');
    }
  }
}

.product-page {
  padding: 120px 0 0;
}

.product {

  &__inner {
    display: flex;
    margin-bottom: 110px;
  }

  &__slide {
    width: 730px;
    display: flex;
    margin-right: 70px;
  }

  &__title {
    font-size: 22px;
    line-height: 34px;
    @extend %roboto-500;
    color: $accent-text;
    margin-bottom: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__price {
    font-size: 18px;
    line-height: 34px;
    display: flex;
    gap: 15px;
  }

  &__new-price {
    color: $accent-text;
  }

  &__old-price {

    span {
      text-decoration: line-through;
    }
  }

  &__rating {
    margin-left: auto;
    margin-right: 5px;

    &-quantity {
      color: $accent-text;
      font-size: 18px;
      line-height: 34px;
    }
  }

  &__review-title {
    @extend %roboto-400;
    font-size: 18px;
    color: $accent-text;
    margin-bottom: 5px;
  }

  &__review-text {
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    margin-bottom: 20px;

    &-list {
      padding: 5px !important;
    }

    &-list:first-child {
      color: $accent-text;
      margin-right: 10px;
    }
  }

  &__info-item {

    .footer-top__socials {
      margin-top: 0;
    }
  }
}

.product-slide {

  &__thumb {
    width: 140px;
    margin-right: 30px;
  }

  &__thumb-item {
    width: 140px;
    height: 140px;
  }

  &__big {
    width: 560px;
  }

  &__big-item {
    height: 650px;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.product-slide__thumb .slick-slide {
  border: none;

  div {
    height: 140px;
    margin-bottom: 30px;
  }
}

.product-slide__big div {
  height: 650px;
}

.filter-color {
  margin-bottom: 38px;

  &__title {
    font-size: 18px;
    @extend %roboto-400;
    color: $accent-text;
    margin-bottom: 14px;
  }

  &__form {
    display: flex;
    gap: 16px;
    padding-left: 5px;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %hidden-input;

    &:checked+.filter-color__fake-radio {

      &::after {
        border-color: $accent-color;
      }
    }
  }

  &__fake-radio {
    width: 16px;
    height: 16px;
    background-color: red;
    // position: absolute;
    position: relative;
    display: block;

    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      border: 1px solid $border-color;
      top: -25%;
      left: -25%;
    }
  }
}

.filter-size {
  margin-bottom: 30px;

  &__title {
    font-size: 18px;
    @extend %roboto-400;
    color: $accent-text;
    margin-bottom: 5px;
  }

  &__form {
    display: flex;
    gap: 10px;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %hidden-input;

    &:checked+.filter-size__fake-radio {
      border-color: $accent-color;
    }
  }

  &__fake-radio {
    padding: 6px 4px;
    border: 1px solid $border-color;
    display: inline-block;
    min-width: 40px;
    text-align: center;
  }

  &__text {
    text-transform: uppercase;
  }
}

.product__control-form {
  display: flex;
  gap: 15px;
}

.product__control-input {
  color: $accent-text;
  width: 100%;
}

.product__control-btn {
  @extend %btn;
  border: none;
  cursor: pointer;
  text-transform: none;
  padding: 12px 40px;
}

.jq-number {
  padding: 12px 0;
  position: relative;
  width: 115px;
  max-height: 50px;
  border: 1px solid $border-color;
}

.jq-number__field {

  input {
    text-align: center;
    padding: 0 38px;
    border: none;
    outline: none;
  }
}

.jq-number__spin.minus,
.jq-number__spin.plus {
  width: 45px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.jq-number__spin.minus {
  left: 0;
  background-image: url('../images/icons/minus.svg');
}

.jq-number__spin.plus {
  right: 0;
  background-image: url('../images/icons/plus.svg');
}

.product {

  &__tabs {
    padding-bottom: 60px;
    border-bottom: 1px solid $border-color;
  }

  &__tabs-top {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    display: flex;
    margin-bottom: 40px;
  }

  &__tabs-title {
    font-size: 22px;
    @extend %roboto-400;
    position: relative;

    &:not(:last-child) {
      margin-right: 60px;
    }

    &--active {
      color: $accent-text;

      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -11px;
        background-color: $accent-color;
      }
    }
  }

  &__tabs-item {
    display: none;

    &--active {
      display: block;
    }
  }
}

.review,
.comments {

  &__items {
    margin-bottom: 60px;
  }

  &__item {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }

  &__userpic {
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__username {
    color: $accent-text;
    @extend %roboto-400;
    margin-right: 15px;
  }

  &__date {
    padding-left: 16px;
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: 0;
    }
  }

  &__rating {
    margin-left: auto;
  }

  &__text {
    margin-bottom: 8px;
  }

  &__reply {
    position: relative;
    padding-left: 26px;

    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 14px;
      left: 0;
      top: 3px;
      background-image: url('../images/icons/reply.svg');
    }

    &:hover {
      color: $accent-text;
    }
  }
}

.review-form,
.comments-form,
.contact-form {

  &.contact__form {
    box-shadow: 0 10px 40px rgba(172, 172, 172, 0.3);
    max-width: 770px;
    width: 100%;
    padding: 60px 40px;
  }

  .comments-form__title {
    font-size: 24px;
    line-height: 26px;
    @extend %roboto-700;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  .contact-form__title {
    font-size: 22px;
    @extend %roboto-700;
    padding-bottom: 0;
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }

  .contact-form__input,
  .contact-form__textarea {
    border: none;
    background-color: $bg-color;
    padding: 17px 20px;
  }

  .contact-form__textarea {
    margin-top: 28px;
  }

  &__title {
    font-size: 22px;
    line-height: 28px;
    @extend %roboto-400;
    color: $accent-text;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 35px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50px;
      height: 2px;
      background-color: $accent-color;
    }
  }

  &__star {
    display: flex;
    gap: 28px;
    margin-bottom: 25px;
  }

  &__star-title {
    margin-right: 32px;
    color: $accent-text;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input-radio {
    @extend %hidden-input;

    &:checked+.review-form__fake-radio {

      path {
        fill: #ffc35b;
      }
    }
  }

  &__fake-radio {
    display: flex;
    gap: 1px;

    path {
      fill: #ccccce;
      transition: all .3s;
    }

    &:hover {

      path {
        fill: #ffc35b;
      }
    }
  }

  &__input-box {
    display: flex;
    gap: 30px;
    margin-bottom: 28px;
  }

  &__input {
    width: 100%;
    border: 1px solid $border-color;
    padding: 11px 20px;
  }

  &__textarea {
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid $border-color;
    padding: 11px 20px;
    min-height: 225px;
    margin-bottom: 40px;
  }

  &__btn {
    @extend %btn;
    border: none;
    cursor: pointer;
    text-transform: none;
    padding: 12px 40px;
    text-transform: uppercase;
  }
}

.related-products {
  padding: 60px 0 120px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__title {
    margin-bottom: 50px;
  }

  .product-item {
    max-width: 270px;

    &__img-wrapper {
      max-height: 270px;
      margin-bottom: 20px;
    }

    &__panel {
      display: none;
    }

    &__title {
      font-size: 18px;
      @extend %roboto-400;
      margin-bottom: 6px;
    }

    &__price {
      @extend %quicksand-500;
    }

    &__new-price {
      font-family: inherit;
    }

    &__old-price {
      font-family: inherit;
      font-weight: inherit;
      order: -1;
    }
  }
}

.blog-page {
  padding: 120px 0;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 370px;
    gap: 30px;
    align-items: start;
  }

  &__item {
    max-width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 60px;
    }
  }

  .blog-item.blog-item--no-image {

    .blog-item__img-link {
      display: none;
    }

    .blog-item__box {
      padding: 40px;
    }
  }

  .blog-item__img {
    height: 100%;
  }

  .blog-item__box {
    padding: 50px 40px 40px;
    display: flex;
    flex-direction: column;
  }

  .blog-item__info {
    justify-content: start;
    gap: 34px;
  }

  .blog-item__title-link {
    order: -1;
  }

  .blog-item__title {
    transition: all .3s;

    &:hover {
      color: $accent-color;
    }
  }

  .blog-item__link {
    display: none;
  }

  &__aside {
    display: grid;
    row-gap: 40px;
  }

  &__person {
    padding: 40px 28px;
    border: 1px solid $border-color;
    text-align: center;
  }

  &__person-img {
    margin: 0 auto 30px;
  }

  &__person-name {
    font-size: 18px;
    color: $accent-text;
    margin-bottom: 6px;
    @extend %roboto-700;
  }

  &__person-position {
    color: $accent-color;
    margin-bottom: 20px;
  }

  &__person-socials {
    display: flex;
    justify-content: center;
  }
}

.blog-item__slider {
  max-width: 770px;
  position: relative;
}

.slick-prev {
  left: 40px;
}

.slick-next {
  right: 40px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $accent-color;
  box-shadow: 0 7px 20px rgba(254, 62, 87, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  z-index: 3;

  path {
    fill: #fff;
  }

  &:hover {
    background-color: darken($accent-color, 10%);
  }

  &.slick-disabled {
    background-color: #fff;
    box-shadow: 0 7px 20px rgba(168, 168, 168, 0.3);

    path {
      fill: $accent-color;
    }
  }
}

.latest-post {
  padding: 40px 28px 20px;
  border: 1px solid $border-color;

  &__title {
    font-size: 22px;
    @extend %roboto-400;
    text-transform: uppercase;
    color: $accent-text;
    margin-bottom: 16px;
  }

  &__item {
    display: flex;
    gap: 20px;
    padding: 20px 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__item-img {
    min-width: 80px;
    height: 80px;
  }

  &__item-title-link {
    display: block;
    margin-bottom: 6px;
  }

  &__item-title {
    font-size: 18px;
    color: $accent-text;
    @extend %roboto-400;
  }

  &__date {
    padding-left: 27px;
    position: relative;

    &::before {
      content: '';
      background-image: url('../images/icons/calendar.svg');
      position: absolute;
      left: 0;
      top: 6px;
      width: 16px;
      height: 16px;
    }
  }
}

.blog-one {

  &__content {
    margin-bottom: 30px;
  }

  &__content-box {
    border: 1px solid $border-color;
    border-top: none;
    padding: 30px;

    h4 {
      @extend %roboto-500;
      font-size: 22px;
      color: $accent-text;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 30px;
    }

    blockquote {
      padding: 40px;
      @extend %roboto-400;
      font-size: 22px;
      color: $accent-text;
      margin-bottom: 30px;
      background-color: $bg-color;
      border-left: 3px solid $accent-color;
    }
  }

  &__info {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }

  &__date,
  &__link {
    padding-left: 26px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }

  &__date {

    &::before {
      background-image: url('../images/icons/calendar.svg');
    }
  }

  &__link--comments {

    &::before {
      background-image: url('../images/icons/comment.svg');
    }
  }

  &__link--author {

    &::before {
      background-image: url('../images/icons/user-red.svg');
    }
  }

  &__img--left {
    max-width: 340px;
    height: 100%;
    object-fit: cover;
    margin-right: 30px;
    float: left;
  }

  &__img--right {
    max-width: 340px;
    height: 100%;
    object-fit: cover;
    margin-left: 30px;
    float: right;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    span {
      color: $accent-text;
    }
  }

  &__socials {
    display: flex;

    span {
      text-transform: uppercase;
      color: $accent-text;
    }

    .footer-top__socials {
      margin: 0 0 0 6px;
      transform: translateY(2px);
    }
  }

  &__author {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
  }

  &__avatar {
    min-width: 140px;
    max-width: 140px;
    height: 140px;
    object-fit: cover;
    margin-right: 30px;
  }

  &__author-info {
    padding: 10px 0;
  }

  &__author-name {
    font-size: 22px;
    @extend %roboto-500;
    text-transform: uppercase;
    color: $accent-text;
    margin-bottom: 20px;
  }
}

.comments {

  &__title {
    text-transform: uppercase;
    font-size: 24px;
    @extend %roboto-700;
    color: $accent-text;
    margin-bottom: 30px;
  }

  &__items {
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
  }
}

.map {
  margin: 120px 0;
}

.contact {
  padding-bottom: 120px;

  &__inner {
    display: flex;
  }

  &__content {
    max-width: 370px;
    margin-right: 30px;
  }

  &__title {
    line-height: 58px;
    text-align: left;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__address {
    font-style: normal;
    color: $accent-text;
  }

  .contact__item {
    padding-left: 80px;
    padding-top: 4px;
    min-height: 60px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      box-shadow: 0 5px 20px rgba(146, 146, 146, 0.3);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone::before {
      background-image: url('../images/icons/phone.svg');
    }

    &--location::before {
      background-image: url('../images/icons/location.svg');
    }

    &--mail::before {
      background-image: url('../images/icons/mail.svg');
    }
  }
}